@model OBFOCUS.UI.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form action="/Login/Login" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" name="UserName">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" name="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox">
                        Remember Me 
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
            <!-- /.col -->
        </div>
    </form>

    
    <a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a>

</div>
