@model OBFOCUS.UI.Models.LoginModel

@{
    ViewBag.Title = "Sign in";
}

<div class="login-box-body">
    <p class="login-box-msg"><b>Sign in</b></p>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group has-feedback">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "UserName" })
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox">
                        Remember Me
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
            <!-- /.col -->
        </div>
    }
</div>
